section.server-details {
    .server-name {
        color: var(--accent-color);
    }

    div.guild-stats {
        justify-content: space-around;
        flex-direction: row;
        margin-top: 1rem;
        flex-wrap: wrap;
        display: flex;
        width: 50%;

        .stats-entry {
            margin: 0.2rem;

            .stats-value {
                font-weight: 600;
                color: var(--accent-color);
            }
        }
    }
}

section.user-details {
    .user-name {
        color: var(--accent-color);
    }
}

section.bot-details {
    .bot-name {
        color: var(--accent-color);
    }
}

section.server-config, section.user-config, section.bot-config {
    div.configuration {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .setting-input {
            background-color: var(--background-secondary-alt);
            padding: 0.4rem 0.8rem 0.8rem 0.8rem;
            flex-direction: column;
            border-radius: 0.2rem;
            margin: 0.5rem;
            display: flex;
            flex: 1 1 45%;

            .infos {
                margin-bottom: 0.4rem;

                .description {
                    margin-left: 0.2rem;
                    font-size: 0.9rem;
                    color: var(--text-muted);
                }
            }

            .inputs {
                display: flex;
                flex-direction: row;
                height: 2rem;

                .save {
                    margin-left: 0.2rem;
                    flex: 0 0;
                    width: 6rem;
                    height: 100%;
                }
            }

            &.string-input, &.channel-input, &.member-input, &.role-input, &.guild-input {
                .inputs {
                    input {
                        padding-left: 0.5rem;
                        flex: 1 0;
                        background-color: var(--background-primary);
                        outline: none;
                        border: 1px solid var(--background-secondary);
                        border-radius: 0.2rem;
                        color: var(--font-primary);
                    }
                }
            }

            &.color-input {
                .inputs {
                    input {
                        height: 2rem;
                        flex: 1 0;
                        background-color: var(--background-primary);
                        outline: none;
                        border: 1px solid var(--background-secondary);
                        border-radius: 0.2rem;
                        color: var(--font-primary);
                    }
                }
            }

            &.boolean-input {
                .inputs {
                    .checkbox {
                        flex: 1 0;
                        position: relative;
                        .input {
                            z-index: 10;
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            width: 100%;
                            height: 100%;
                        }
    
                        .checkmark {
                            border-radius: 0.2rem;
                            transition-duration: .15s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--button-danger-background);
                            cursor: pointer;
                        }
                    }
    
                    .checkbox input:checked ~ .checkmark {
                        background-color: var(--button-positive-background); 
                    }

                    .checkbox input:checked:hover ~ .checkmark {
                        background-color: var(--button-positive-background-hover);
                    }

                    .checkbox input:hover ~ .checkmark {
                        background-color: var(--button-danger-background-hover);
                    }
                }
            }

            &.array-input {
                height: fit-content;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    height: fit-content;

                    .array {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .arrayEntry {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 0.2rem;

                            input {
                                height: 2rem;
                                background-color: var(--background-primary);
                                outline: none;
                                border: 1px solid var(--background-secondary);
                                border-radius: 0.2rem;
                                color: var(--font-primary);
                                flex: 1 0;
                            }

                            button {
                                margin-left: 0.2rem;
                                height: 2.3rem;
                                width: 2.3rem;
                            }
                        }
                    }

                    .addToArray {
                        margin: 0 0 .4rem 0;
                        flex: unset;
                        width: 100%;
                        height: 2rem;
                    }

                    .save {
                        margin: 0;
                        flex: unset;
                        width: 100%;
                        height: 2rem;
                    }
                }
            }
        }
    }
}