@import url('/src/css/normalize.css');
@import url('/src/css/fonts.css');

:root {
    --font-primary: "Whitney","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-headline: "ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-code: "Consolas","Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;

    --accent-color: #8E1066;
    --saturation-factor: 1;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #a3a6aa;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-nested-floating: #2f3136;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --chat-background: #36393f;
    --chat-border: #202225;
    --chat-input-container-background: #36393f;
    --background-modifier-hover: rgba(79,84,92,0.4);
    --background-modifier-active: rgba(79,84,92,0.48);
    --background-modifier-selected: rgba(79,84,92,0.6);
    --background-modifier-accent: rgba(79,84,92,0.48);
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: #fff;
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: #fff;
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: #fff;
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: #000;
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: #fff;
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-active: #72767d;
    --button-secondary-background-disabled: #4f545c;
    --button-outline-danger-text: #fff;
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,0%,100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: #fff;
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text: #fff;
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: #fff;
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text: #fff;
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,0%,100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: #fff;
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: #fff;
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text: #fff;
    --button-outline-primary-border: #4f545c;
    --button-outline-primary-background: hsla(0,0%,100%,0);
    --button-outline-primary-background-hover: #4f545c;
    --button-outline-primary-text-hover: #fff;
    --button-outline-primary-border-hover: #4f545c;
    --button-outline-primary-background-active: #686d73;
    --button-outline-primary-text-active: #fff;
    --button-outline-primary-border-active: #686d73;
    --modal-background: #36393f;
    --modal-footer-background: #2f3136;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --input-background: #202225;
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default: #96989d;
    --channel-icon: #8e9297;
    --channel-text-area-placeholder: #72767d;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --spoiler-revealed-background: #292b2f;
    --spoiler-hidden-background: #202225;
    --android-navigation-bar-background: #121315;
    --brand-experiment-100: hsl(240,calc(var(--saturation-factor, 1)*77.8%),98.2%);
    --brand-experiment-130: hsl(236,calc(var(--saturation-factor, 1)*87.5%),96.9%);
    --brand-experiment-160: hsl(235,calc(var(--saturation-factor, 1)*84.6%),94.9%);
    --brand-experiment-200: hsl(236,calc(var(--saturation-factor, 1)*83.3%),92.9%);
    --brand-experiment-230: hsl(236,calc(var(--saturation-factor, 1)*87%),91%);
    --brand-experiment-260: hsl(235,calc(var(--saturation-factor, 1)*86.2%),88.6%);
    --brand-experiment-300: hsl(235,calc(var(--saturation-factor, 1)*86.1%),85.9%);
    --brand-experiment-330: hsl(235,calc(var(--saturation-factor, 1)*85.1%),81.6%);
    --brand-experiment-360: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --brand-experiment-400: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
    --brand-experiment-430: hsl(235,calc(var(--saturation-factor, 1)*85.7%),69.8%);
    --brand-experiment-460: hsl(235,calc(var(--saturation-factor, 1)*85.5%),67.5%);
    --brand-experiment: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --brand-experiment-500: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --brand-experiment-530: hsl(235,calc(var(--saturation-factor, 1)*66.7%),58.8%);
    --brand-experiment-560: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --brand-experiment-600: hsl(235,calc(var(--saturation-factor, 1)*46.7%),44.1%);
    --brand-experiment-630: hsl(235,calc(var(--saturation-factor, 1)*46.7%),38.2%);
    --brand-experiment-660: hsl(235,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --brand-experiment-700: hsl(235,calc(var(--saturation-factor, 1)*47%),25.9%);
    --brand-experiment-730: hsl(235,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --brand-experiment-760: hsl(234,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --brand-experiment-800: hsl(235,calc(var(--saturation-factor, 1)*47.5%),19.4%);
    --brand-experiment-830: hsl(235,calc(var(--saturation-factor, 1)*47.4%),14.9%);
    --brand-experiment-860: hsl(235,calc(var(--saturation-factor, 1)*46.9%),9.6%);
    --brand-experiment-900: hsl(233,calc(var(--saturation-factor, 1)*50%),3.1%);
    --brand-experiment-05a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.05);
    --brand-experiment-10a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.1);
    --brand-experiment-15a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.15);
    --brand-experiment-20a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.2);
    --brand-experiment-25a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.25);
    --brand-experiment-30a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
    --brand-experiment-35a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.35);
    --brand-experiment-40a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.4);
    --brand-experiment-45a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.45);
    --brand-experiment-50a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.5);
    --brand-experiment-55a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.55);
    --brand-experiment-60a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.6);
    --brand-experiment-65a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.65);
    --brand-experiment-70a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.7);
    --brand-experiment-75a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.75);
    --brand-experiment-80a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.8);
    --brand-experiment-85a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.85);
    --brand-experiment-90a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.9);
    --brand-experiment-95a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.95);
    --brand-experiment-100: hsl(240,calc(var(--saturation-factor, 1)*77.8%),98.2%);
    --brand-experiment-130: hsl(236,calc(var(--saturation-factor, 1)*87.5%),96.9%);
    --brand-experiment-160: hsl(235,calc(var(--saturation-factor, 1)*84.6%),94.9%);
    --brand-experiment-200: hsl(236,calc(var(--saturation-factor, 1)*83.3%),92.9%);
    --brand-experiment-230: hsl(236,calc(var(--saturation-factor, 1)*87%),91%);
    --brand-experiment-260: hsl(235,calc(var(--saturation-factor, 1)*86.2%),88.6%);
    --brand-experiment-300: hsl(235,calc(var(--saturation-factor, 1)*86.1%),85.9%);
    --brand-experiment-330: hsl(235,calc(var(--saturation-factor, 1)*85.1%),81.6%);
    --brand-experiment-360: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --brand-experiment-400: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
    --brand-experiment-430: hsl(235,calc(var(--saturation-factor, 1)*85.7%),69.8%);
    --brand-experiment-460: hsl(235,calc(var(--saturation-factor, 1)*85.5%),67.5%);
    --brand-experiment: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --brand-experiment-500: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --brand-experiment-530: hsl(235,calc(var(--saturation-factor, 1)*66.7%),58.8%);
    --brand-experiment-560: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --brand-experiment-600: hsl(235,calc(var(--saturation-factor, 1)*46.7%),44.1%);
    --brand-experiment-630: hsl(235,calc(var(--saturation-factor, 1)*46.7%),38.2%);
    --brand-experiment-660: hsl(235,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --brand-experiment-700: hsl(235,calc(var(--saturation-factor, 1)*47%),25.9%);
    --brand-experiment-730: hsl(235,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --brand-experiment-760: hsl(234,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --brand-experiment-800: hsl(235,calc(var(--saturation-factor, 1)*47.5%),19.4%);
    --brand-experiment-830: hsl(235,calc(var(--saturation-factor, 1)*47.4%),14.9%);
    --brand-experiment-860: hsl(235,calc(var(--saturation-factor, 1)*46.9%),9.6%);
    --brand-experiment-900: hsl(233,calc(var(--saturation-factor, 1)*50%),3.1%);
    --brand-experiment-05a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.05);
    --brand-experiment-10a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.1);
    --brand-experiment-15a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.15);
    --brand-experiment-20a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.2);
    --brand-experiment-25a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.25);
    --brand-experiment-30a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
    --brand-experiment-35a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.35);
    --brand-experiment-40a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.4);
    --brand-experiment-45a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.45);
    --brand-experiment-50a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.5);
    --brand-experiment-55a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.55);
    --brand-experiment-60a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.6);
    --brand-experiment-65a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.65);
    --brand-experiment-70a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.7);
    --brand-experiment-75a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.75);
    --brand-experiment-80a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.8);
    --brand-experiment-85a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.85);
    --brand-experiment-90a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.9);
    --brand-experiment-95a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.95);
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-zoom: none;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    background-color: var(--background-tertiary);
    color: white;

    header {
        z-index: 999;
        background-color: var(--background-secondary-alt);
        height: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: fixed;
        -webkit-box-shadow: 0px -4px 15px 9px rgba(0,0,0,0.64); 
        box-shadow: 0px -4px 15px 9px rgba(0,0,0,0.64);

        div#logo {
            max-height: 100%;
            margin: 0.5rem 0.5rem 0 0.5rem;
            flex: 0 0;
        }

        div#nav {
            height: 100%;
            flex: 1 0;

            nav {
                height: 100%;
                display: flex;
                flex-direction: row;

                a {
                    font-family: var(--font-code);
                    font-size: 1.15rem;
                    transition-duration: .2s;
                    display: flex;
                    color: var(--text-link-low-saturation);
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    height: 100%;
                    flex: 1 0;
                    border-left: 1px solid var(--background-secondary);
                    border-right: 1px solid var(--background-secondary);

                    &:hover {
                        background-color: var(--background-secondary);
                        font-weight: 900;
                        font-size: 1.3rem;
                        color: var(--accent-color);
                        -webkit-box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.10); 
                        box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.10);
                    }

                    &:active {
                        background-color: var(--background-accent);
                        transform: scale(0.99);
                    }
                }
            }
        }
    }

    main {
        display: flex;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        section {
            position: relative;
            background-color: var(--background-floating);
            flex-direction: column;
            border-radius: 1.5rem;
            align-items: center;
            align-content: center;
            padding: 1rem;
            display: flex;
            margin: 1rem;
            flex: 0 0;

            -webkit-box-shadow: 5px 5px 20px -6px #000000; 
            box-shadow: 5px 5px 20px -6px #000000;

            &.full-width {
                flex: 1 0 90%;
            }

            &.half-width {
                flex: 1 1 43.6%;
            }

            h2.section-title {
                font-family: var(--font-code);
                margin: 0.5rem 0 0 0;
                text-align: center;
                font-weight: 600;
                font-size: 2rem;
            }

            p.section-description {
                font-size: 1.1rem;
                text-align: center;
                font-weight: 400;
            }
        }
    }
}

div#top_logo_animated {
    transition-duration: .15s;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;

    img {
        height: 90%;
        position: relative;
    }

    .sliding {
        position: absolute;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover {
        .slide-left {
            :hover > & {
                transform: translateX(-2px) translateY(-2px);
            }
        }

        .slide-right {
            :hover > & {
                transform: translateX(2px) translateY(2px);
            }
        }
    }

    &:hover {
        transform: scale(1.01);
    }
}

button {
    transition-duration: .2s;
    background-color: var(--button-secondary-background);
    color: var(--button-outline-primary-text);
    border-radius: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--button-secondary-background-hover);
    }

    &:active {
        background-color: var(--button-secondary-background-active);
    }

    &:disabled {
        color: var(--text-muted);
        cursor: not-allowed;
        background-color: var(--button-secondary-background-disabled);
    }

    &.outline-button {
        outline: 1.5px solid var(--button-secondary-background);
        background-color: transparent;
        color: white;
        outline-offset: -1.5px;

        &:hover {
            outline: 1.5px solid var(--button-secondary-background);
            background-color: var(--button-secondary-background);
            color: white;
        }
    
        &:active {
            outline: 1.5px solid var(--button-secondary-background-active);
            background-color: var(--button-secondary-background-active);
            color: white;
        }

        &:disabled {
            outline: 1.5px solid var(--button-secondary-background-disabled);
            color: var(--text-muted);
            background-color: transparent;
        }
    }

    &.positive-button {
        background-color: var(--button-positive-background);

        &:hover {
            background-color: var(--button-positive-background-hover);
        }
    
        &:active {
            background-color: var(--button-positive-background-active);
        }

        &:disabled {
            color: var(--text-muted);
            background-color: var(--button-positive-background-disabled);
        }

        &.outline-button {
            outline: 1.5px solid var(--button-outline-positive-border);
            background-color: var(--button-outline-positive-background);
            color: var(--button-outline-positive-text);
            outline-offset: -1.5px;

            &:hover {
                outline: 1.5px solid var(--button-outline-positive-border-hover);
                background-color: var(--button-outline-positive-background-hover);
                color: var(--button-outline-positive-text-hover);
            }
        
            &:active {
                outline: 1.5px solid var(--button-outline-positive-border-active);
                background-color: var(--button-outline-positive-background-active);
                color: var(--button-outline-positive-text-active);
            }

            &:disabled {
                color: var(--text-muted);
                background-color: var(--button-outline-positive-background-disabled);
            }
        }
    }

    &.danger-button {
        background-color: var(--button-danger-background);

        &:hover {
            background-color: var(--button-danger-background-hover);
        }
    
        &:active {
            background-color: var(--button-danger-background-active);
        }

        &:disabled {
            color: var(--text-muted);
            background-color: var(--button-danger-background-disabled);
        }

        &.outline-button {
            outline: 1.5px solid var(--button-outline-danger-border);
            background-color: var(--button-outline-danger-background);
            color: var(--button-outline-danger-text);
            outline-offset: -1.5px;

            &:hover {
                outline: 1.5px solid var(--button-outline-danger-border-hover);
                background-color: var(--button-outline-danger-background-hover);
                color: var(--button-outline-danger-text-hover);
            }
        
            &:active {
                outline: 1.5px solid var(--button-outline-danger-border-active);
                background-color: var(--button-outline-danger-background-active);
                color: var(--button-outline-danger-text-active);
            }

            &:disabled {
                color: var(--text-muted);
                outline: 1.5px solid var(--button-outline-danger-border);
                background-color: var(--button-outline-danger-background-disabled);
            }
        }
    }

    &.brand-button {
        background-color: var(--brand-experiment);

        &:hover {
            background-color: var(--brand-experiment-560);
        }
    
        &:active {
            background-color: var(--brand-experiment-600);
        }

        &:disabled {
            color: var(--text-muted);
            background-color: var(--brand-experiment);
        }

        &.outline-button {
            outline: 1.5px solid var(--brand-experiment);
            background-color: transparent;
            color: white;
            outline-offset: -1.5px;

            &:hover {
                outline: 1.5px solid var(--brand-experiment);
                background-color: var(--brand-experiment);
                color: white;
            }
        
            &:active {
                outline: 1.5px solid var(--brand-experiment-600);
                background-color: var(--brand-experiment-600);
                color: white;
            }

            &:disabled {
                color: var(--text-muted);
                outline: 1.5px solid var(--brand-experiment);
                background-color: var(--brand-experiment);
            }
        }
    }
}

a {
    text-decoration: underline;
    color: var(--text-link);
}

a.hidden-link-unless-hover {
    text-decoration: inherit;
    color: inherit;
    font: inherit;

    &:hover {
        text-decoration: underline;
        color: var(--text-link);
    }
}

a.hidden-link {
    text-decoration: inherit;
    color: inherit;
    font: inherit;
}

.stick-to-bottom-of-section {
    position: absolute;
    bottom: 1rem;
    transform: translateX(-50%);
}

.justify-text {
    text-align: justify !important;
    text-align-last: center !important;
}

span.space-from-line-above {
    display: block;
    margin-top: 0.5rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-tertiary);
}

::-webkit-scrollbar-thumb {
    background: var(--background-secondary-alt);
}

::-webkit-scrollbar-thumb:hover {
    background: #121212;
}

#toast-notifications {
    pointer-events: none;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    z-index: 1000;
    display: flex;
    height: fit-content;
    width: fit-content;
    max-width: 40%;
    right: 0;
    top: 0;

    .notify {
        pointer-events: visibleFill;
        background-color: var(--background-modifier-selected);
        position: relative;
        border-left: 3px solid var(--brand-experiment);
        animation: notify-appear 1s;
        backdrop-filter: blur(5px);
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        padding: .6rem 1.2rem .6rem .6rem;
        display: flex;
        margin: .4rem;

        &.goAway {
            transform: translateX(110%);
            animation: notify-diappear 1s;
        }

        &.danger {
            border-left: 3px solid var(--status-danger);
        }

        &.positive {
            border-left: 3px solid var(--status-positive);
        }

        .clearNotify {
            top: 8px;
            right: 5px;
            position: absolute;
            color: var(--status-danger);

        }

        .title {
            font-family: var(--font-display);
        }

        .description {
            word-wrap: break-word;
        }
    }
}

@keyframes notify-appear {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes notify-diappear {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(110%);
    }
}

.code-font {
    font-family: var(--font-code);
}