@media (max-width: 999px) { 
    body {
        header {
            height: 8rem;
            flex-direction: column;
            align-items: center;
            -webkit-box-shadow: 0px -4px 15px 9px rgba(0,0,0,0.64); 
            box-shadow: 0px -4px 15px 9px rgba(0,0,0,0.64);
            margin-bottom: 1.5rem;
    
            div#logo {
                display: flex;
                justify-content: center;
                max-height: 40%;
                width: 100%;
                border-bottom: 1px solid var(--background-secondary);
            }
    
            div#nav {
                width: 100%;
                nav {
                    a {
                        font-size: 0.8rem;
                        flex: 1 1;
                        border-left: 1px solid var(--background-secondary);
                        border-right: 1px solid var(--background-secondary);;
                    }
                }
            }
        }

        main {
            padding: 9rem 1.5rem 1.5rem 1.5rem;

            section {
                h2.section-title {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #toast-notifications {
        max-width: 60%;
    }
}