* {
    user-select: text;
    ::selection {
        background-color: var(--accent-color);
    }
}

section.documentation {
    div.documentation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .documentation-entry {
            background-color: var(--background-secondary-alt);
            padding: 0.4rem 0.8rem 0.8rem 0.8rem;
            flex-direction: column;
            border-radius: 0.2rem;
            margin: 0.5rem;
            display: flex;
            flex: 1 1 45%;
            justify-content: space-around;

            .infos {
                margin-bottom: 0.4rem;

                .description {
                    margin-left: 0.2rem;
                    font-size: 0.9rem;
                    color: var(--text-muted);
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                .type {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: .5rem;
                    .type-string {
                        margin-bottom: .2rem;
                    }
                    .type-text {

                    }
                }

                .default-value {
                    margin-bottom: .4rem;
                    
                }

                .editable {
                    
                }
            }
        }
    }
}

.focused-entry {
    animation: focused-entry 2s;
}

@keyframes focused-entry {
    0% { background-color: var(--background-accent);}
    15% { background-color: var(--background-secondary-alt);}
    30% { background-color: var(--background-accent);}
    45% { background-color: var(--background-secondary-alt);}
    60% { background-color: var(--background-accent);}
    75% { background-color: var(--background-secondary-alt);}
    90% { background-color: var(--background-accent);}
    100% { background-color: var(--background-secondary-alt);}
}